 # STAGE C TAG-ALONG PROJECT
## Telco Customer Churn(__[Dataset](https://www.kaggle.com/datasets/blastchar/telco-customer-churn)__ ) 
### anthonynwachukwu19@gmail.com

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accur_score
import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)

In [2]:
#import data set
df = pd.read_csv('Telco-Customer-Churn.csv')

In [3]:
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [4]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
df.shape

(7043, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [7]:
df.duplicated().sum()

0

## Preprocessing:
* Perform initial data preparation by converting the 'TotalCharges' column to numeric values and filling missing values with 0.<br>* Convert the 'Churn' column to binary values, where 'No' is mapped to 0 and 'Yes' is mapped to 1.<br>* Split the data into an 80-20 train-test split with a random state of “1”.<br>
<br>__Select these features:__
* categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService','OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies','Contract', 'PaperlessBilling', 'PaymentMethod']<br>
* numerical = ['tenure', 'MonthlyCharges', 'TotalCharges']<br>

In [8]:
#replacing empty rows to 0 and changing type to numeric
df.TotalCharges = pd.to_numeric(df.TotalCharges, errors='coerce')
df.TotalCharges.isnull().sum()

11

In [9]:
#converting null values to 0
df.TotalCharges = df.TotalCharges.fillna(0)
df.TotalCharges.isnull().sum()

0

In [10]:
#Mapping values No and Yes to 0 and 1
value = {"No": 0, "Yes" : 1}
df.Churn.replace(value,inplace=True)
df.Churn.value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   int64
dtypes: float64(2), int64(3), object(16)
memory usage: 1.1+ MB

In [12]:
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1

In [13]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

## Feature Engineering

* The numerical features should be scaled using StandardScaler, convert the output back to a dataframe and put back the column names. <br>* 
The categorical features are one-hot encoded using OneHotEncoder(set sparse_output to false), convert the output back to a dataframe and put back the column nams. <br>
* Combine scaled numerical and one-hot encoded categorical features into train and test set dataframes (use pd.concat).t)

In [14]:
# Assigning X and y variables and splitting dataset 80-20 with random_state =1
X = df.drop(columns=["Churn","customerID"],axis = 1)
y = df.Churn

In [15]:
categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService','OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies','Contract', 'PaperlessBilling', 'PaymentMethod']
numerical = ['tenure', 'MonthlyCharges', 'TotalCharges']

In [16]:
#Standard scaler for nnumerical features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numerical_df = scaler.fit_transform(X[numerical])
numerical_df = pd.DataFrame(numerical_df, columns = X[numerical].columns)
numerical_df

        tenure  MonthlyCharges  TotalCharges
0    -1.277445       -1.160323     -0.992611
1     0.066327       -0.259629     -0.172165
2    -1.236724       -0.362660     -0.958066
3     0.514251       -0.746535     -0.193672
4    -1.236724        0.197365     -0.938874
...        ...             ...           ...
7038 -0.340876        0.665992     -0.127605
7039  1.613701        1.277533      2.242606
7040 -0.870241       -1.168632     -0.852932
7041 -1.155283        0.320338     -0.870513
7042  1.369379        1.358961      2.013897

[7043 rows x 3 columns]

In [17]:
#Using OneHot Encoding for the cacategorical features
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False).set_output(transform = "pandas")
categorical_df=encoder.fit_transform(X[categorical])

In [18]:
#joining the scaled numerical and one-hot encoded categorical feature
X = pd.concat([numerical_df, categorical_df], axis=1)
X.head(3)

,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,-1.277445,-1.160323,-0.992611,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.066327,-0.259629,-0.172165,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,-1.236724,-0.362660,-0.958066,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [19]:
#Splitting dataset 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size= 0.8 ,test_size= 0.2 , random_state= 1 )

In [20]:
# Accuracy calculation function
def accuracy(y_test, y_pred):
    accuracy = accuracy_score(y_test,y_pred)
    print('Accuracy: {}'.format(round(accuracy,4)))

## Questions

__RANDOM FOREST__

In [21]:
# Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(random_state=1)
random_forest.fit(x_train, y_train)
y_pred_rfc = random_forest.predict(x_test)

In [22]:
accuracy(y_test,y_pred_rfc)

Accuracy: 0.7906

__XGBOOST__.

In [23]:
#xgboost classifier
from xgboost import XGBClassifier
xgb = XGBClassifier(random_state=1)
xgb.fit(x_train, y_train)
y_pred_xgb = xgb.predict(x_test)

In [24]:
accuracy(y_test,y_pred_xgb)

Accuracy: 0.7935

__Light GBM__

In [25]:
## Lightgbm Model
import lightgbm as lgb
lgb_clf = lgb.LGBMClassifier(random_state=1)
lgb_clf.fit(x_train, y_train)
y_pred_lgb = lgb_clf.predict(x_test)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 1521, number of negative: 4113
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000924 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 670
[LightGBM] [Info] Number of data points in the train set: 5634, number of used features: 46
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.269968 -> initscore=-0.994785
[LightGBM] [Info] Start training from score -0.994785

In [26]:
accuracy(y_test,y_pred_lgb)

Accuracy: 0.8133

__Extra Trees Classifier__

In [27]:
from sklearn.ensemble import ExtraTreesClassifier
etc = ExtraTreesClassifier(random_state = 1)
etc.fit(x_train, y_train)
y_pred_etc = etc.predict(x_test)

In [28]:
accuracy(y_test,y_pred_etc)

Accuracy: 0.77

__Tuning Parameters__

In [29]:
n_estimators = [50, 100, 300, 500, 1000]
min_samples_split = [2, 3, 5, 7, 9]
min_samples_leaf = [1, 2, 4, 6, 8]
max_features = ['auto', 'sqrt', 'log2', None]
hyperparameter_grid = {'n_estimators': n_estimators,
                       'min_samples_leaf': min_samples_leaf,
                       'min_samples_split': min_samples_split,
                       'max_features': max_features}

__Random CrossValidation Search__

In [30]:
from sklearn.model_selection import RandomizedSearchCV
#Running search on selected number of parameter on x and y_train
ran_search = RandomizedSearchCV(estimator = etc,param_distributions=hyperparameter_grid,random_state=1,cv=5, n_iter=10, scoring = 'accuracy', n_jobs = -1, verbose = 1)
ran_search = ran_search.fit(x_train, y_train)

ran_search.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

{'n_estimators': 1000,
 'min_samples_split': 9,
 'min_samples_leaf': 8,
 'max_features': 'sqrt'}

__New Extra Tree Classifier with recommended Parameters__

In [31]:
n_classifier = ExtraTreesClassifier(random_state=1,n_estimators = 1000, 
                                    min_samples_split=9,min_samples_leaf= 8,
                                    max_features=')
                                       
n_classifier.fit(x_train, y_train)
new_pred = n_classifier.predict(x_test)

In [32]:
accuracy(y_test,new_pred)

Accuracy: 0.8041

__Feature Importance__

In [33]:
#Sorting how important features are to models
imp = ran_search.best_estimator_.feature_importances_

sorted(zip(imp,x_train),reverse=True)

[(0.1522365223825757, 'Contract_Month-to-month'),
 (0.09280046728070009, 'tenure'),
 (0.07499756668925914, 'OnlineSecurity_No'),
 (0.06528743070518972, 'InternetService_Fiber optic'),
 (0.06414089705963495, 'TechSupport_No'),
 (0.05442309306017465, 'Contract_Two year'),
 (0.051665955261978744, 'PaymentMethod_Electronic check'),
 (0.047713974468078756, 'TotalCharges'),
 (0.03268688697354864, 'InternetService_DSL'),
 (0.030077412045788524, 'OnlineBackup_No'),
 (0.028542700191358017, 'Contract_One year'),
 (0.021699839701421534, 'OnlineSecurity_Yes'),
 (0.01685724934907098, 'DeviceProtection_No'),
 (0.01492623419583065, 'MonthlyCharges'),
 (0.0145586189112325, 'TechSupport_Yes'),
 (0.012597816332646977, 'OnlineBackup_Yes'),
 (0.011883172396864736, 'PaperlessBilling_No'),
 (0.01177934523732429, 'PaperlessBilling_Yes'),
 (0.010653066633429322, 'gender_Female'),
 (0.010332617797728823, 'gender_Male'),
 (0.009291725680038769, 'StreamingMovies_Yes'),
 (0.008991640248744256, 'OnlineBackup_No internet service'),
 (0.008968914436290741, 'Partner_Yes'),
 (0.008879742617162848, 'StreamingMovies_No'),
 (0.008600323194094194, 'PaymentMethod_Credit card (automatic)'),
 (0.008556041995848748, 'Partner_No'),
 (0.008291340733477212, 'MultipleLines_No'),
 (0.008284690374211244, 'StreamingTV_Yes'),
 (0.008283343465578137, 'MultipleLines_Yes'),
 (0.00817885582153239, 'StreamingTV_No'),
 (0.007930629032706908, 'OnlineSecurity_No internet service'),
 (0.0074544301803372934, 'DeviceProtection_Yes'),
 (0.007436754077791295, 'StreamingTV_No internet service'),
 (0.007144073421904924, 'SeniorCitizen_1'),
 (0.006982833858276221, 'PaymentMethod_Bank transfer (automatic)'),
 (0.0068642423325600875, 'SeniorCitizen_0'),
 (0.006830729347538933, 'TechSupport_No internet service'),
 (0.006815952285056674, 'InternetService_No'),
 (0.006183959261016927, 'DeviceProtection_No internet service'),
 (0.005650095472845699, 'StreamingMovies_No internet service'),
 (0.005072121276242831, 'PaymentMethod_Mailed check'),
 (0.005045083564470818, 'Dependents_No'),
 (0.005010788281065615, 'Dependents_Yes'),
 (0.0031717689452424587, 'PhoneService_No'),
 (0.003109874306455442, 'PhoneService_Yes'),
 (0.003109179115672517, 'MultipleLines_No phone service')]

__Contract_Month-to-month having the most importance and MultipleLines_No phone service having the least importance__

## END OF NOTEBOOK